<template>
  <div class="login row flex-center">
    <q-card
      v-auto-animate
      class="login-card q-pa-xl fixed-center col-xs-11 col-sm-8 col-md-6 shadow-5 round-border"
      style="max-width: 600px"
      rounded
    >
      <canvas id="bunny-canvas" width="400" height="300"></canvas>
      <q-card-section class="">
        <h1 class="text-h4 text-center text-weight-bold q-mb-sm">
          Welcome Back!
        </h1>
        <p class="text-center q-mb-xl">Please login to join the bunny force</p>
      </q-card-section>
      <q-form @submit="handleSubmit" class="q-gutter-md" v-auto-animate>
        <q-input
          classs="round-border"
          @focus="onFocusOn"
          @blur="onFocusOff"
          ref="emailInput"
          filled
          v-model="email"
          color="info"
          label="Email"
          lazy-rules
          :rules="[
            (val) => (val && val.length > 0) || 'Please type your email',
            (val) => /.+@.+/.test(val) || 'Email input invalid',
          ]"
        />

        <q-input
          classs="round-border"
          @focus="onPasswordFocusOn"
          @blur="onPasswordFocusOff"
          ref="passwordInput"
          filled
          type="password"
          color="info"
          v-model="password"
          label="Password"
          lazy-rules
          :rules="[
            (val) =>
              (val !== null && val !== '') || 'Please type your password',
          ]"
        />

        <div class="q-mt-md">
          <q-btn
            class="full-width"
            style="height: 51px"
            label="Getting started!"
            type="submit"
            color="primary"
          />
        </div>

        <div class="q-mt-xl" v-if="error">
          <div
            class="q-pa-md q-mt-xl flex items-center justify-center"
            style="
              background-color: #ff000058;
              border: 2px solid #aa0f1e;
              border-radius: 5px;
            "
          >
            <q-icon
              size="sm"
              name="error"
              color="primary"
              class="q-mr-md"
            ></q-icon>
            <p class="text-primary text-center">{{ error }}</p>
          </div>
        </div>

        <div class="q-mt-xl" v-if="success">
          <div
            class="q-pa-md q-mt-xl flex items-center justify-center"
            style="
              background-color: #67e9dce7;
              border: 2px solid #26a69a;
              border-radius: 5px;
            "
          >
            <q-spinner-hourglass class="q-mr-md" color="#077b70" size="sm" />
            <p class="text-positve text-center">
              Login succesfully ! Loading data
            </p>
          </div>
        </div>
      </q-form>
    </q-card>
    <div class="texture"></div>
    <div class="background"></div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { Rive, Layout } from "@rive-app/canvas";

const email = ref("");
const password = ref("");
const error = ref(null);
const success = ref(false);
const passwordInput = ref(null);
const emailInput = ref(null);

const rightEmail = "bunny@gmail.com";
const rightPassword = "123456";

let r = null;
let riveInputs = [];
const reloadRive = () => {
  r = new Rive({
    src: "./assets/anim/bunny_login.riv",
    canvas: document.getElementById("bunny-canvas"),
    autoplay: true,
    stateMachines: "State Machine 1",
    onLoad: () => {
      r.resizeDrawingSurfaceToCanvas();
      riveInputs = r.stateMachineInputs("State Machine 1");
    },
  });
};
onMounted(() => {
  reloadRive();
});

//Sự kiện animation của bunny
const onFocusOn = (e) => {
  let isFocus = riveInputs.find((i) => i.name == "isFocus");
  isFocus.value = true;
  error.value = null;
};
const onFocusOff = (e) => {
  let isFocus = riveInputs.find((i) => i.name == "isFocus");
  isFocus.value = false;
};

const onCursorPosition = () => {
  const position = email.value.length;
  const percent = Math.floor((Number(position) / 50) * 100);
  riveInputs.find((i) => i.name == "eye_track").value = percent;
};

const onPasswordFocusOn = (e) => {
  error.value = null;
  let isPassword = riveInputs.find((i) => i.name == "IsPassword");
  isPassword.value = true;
};
const onPasswordFocusOff = (e) => {
  let isPassword = riveInputs.find((i) => i.name == "IsPassword");
  isPassword.value = false;
};

const onTriggerFail = () => {
  let loginFail = riveInputs.find((i) => i.name == "login_fail");
  loginFail.fire();
};

const onTriggerSuccess = () => {
  let loginSuccess = riveInputs.find((i) => i.name == "login_success");
  loginSuccess.fire();
  success.value = true;
  setTimeout(() => {
    email.value = "";
    password.value = "";
    error.value = null;
    success.value = false;
    reloadRive();
  }, 4000);
};

// Sự kiện đăng nhập bằng email thông thường
const handleSubmit = async () => {
  error.value = null;
  setTimeout(() => {
    if (email.value !== rightEmail || password.value !== rightPassword) {
      error.value = "Account not found, please try again";
      onTriggerFail();
    }

    if (email.value === rightEmail && password.value === rightPassword) {
      onTriggerSuccess();
    }
  }, 1000);
};
</script>

<style lang="scss" scoped>
.round-border {
  border-radius: 1rem;
}
.login {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.login-card {
  z-index: 10;
}
#bunny-canvas {
  position: absolute;
  top: -426px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 9;
  width: 600px !important;
}
.texture {
  width: 100%;
  height: 100%;
  z-index: -9;
  background-image: url("png/texture.png");
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: $primary;
  position: relative;
  overflow: hidden;
  & > * {
    position: absolute;
    height: 120%;
    width: 120%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ff000058;
  }
}
</style>
