// app global css in SCSS form
@font-face {
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,li,figure,label,input,div,span{
  font-family: 'Poppins' !important;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
